.modal-div{
    position: relative;
}
.bonus-button{
    position: absolute;
    bottom: 90px;
    right: 158px;
    background: red;
    color: white;
    border: 1px solid red;
}

.bonus-button:hover{
    background: rgb(180, 6, 6);
}
.cancel{
    position: absolute;
    color: grey;
}

.bonus-anchor{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.bonus-anchor:hover{
    color: white;
}
.terms-condition{
    position: absolute;
    left: 18px;
    bottom: 7.9px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    background: rgb(15, 15, 32);
}

.terms-condition:hover{
    color: red;
}
img{
    width: 100%;

}

@media (width: 280px){
    .bonus-button{
        bottom: 15px;
        right: 45px;
    }
    .bonus-anchor{
        font-size: 0.5rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 4px;
        font-size: 0.2rem;
        font-size:0.6rem;
    }
}

@media (width: 320px){
    .bonus-button{
        bottom: 20px;
        right: 58px;
    }
    .bonus-anchor{
        font-size: 0.6rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 6px;
        font-size:0.4rem;
    }
}

@media (width: 360px){
    .bonus-button{
        bottom: 30px;
        right: 60px;
    }
    .bonus-anchor{
        font-size: 0.6rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 6px;
        font-size:0.6rem;
    }
}

@media (width: 375px){
    .bonus-button{
        bottom: 30px;
        right: 58px;
    }
    .bonus-anchor{
        font-size: 0.6rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 6px;
        font-size:0.4rem;
    }
}

@media (width: 411px){
    .bonus-button{
        bottom: 38px;
        right: 70px;
    }
    .bonus-anchor{
        font-size: 0.6rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 6px;
        font-size:0.6rem;
    }
}

@media (width: 414px){
    .bonus-button{
        bottom: 38px;
        right: 69px;
    }
    .bonus-anchor{
        font-size: 0.6rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 6px;
        font-size:0.6rem;
    }
}
@media (width: 414px){
    .bonus-button{
        bottom: 38px;
        right: 69px;
    }
    .bonus-anchor{
        font-size: 0.6rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 6px;
    }
}

@media (width: 540px){
    .bonus-button{
        bottom: 55px;
        right: 102px;
    }
    .bonus-anchor{
        font-size: 0.8rem;
    }
    .terms-condition{
        left: 8px;
        bottom: 6px;
        font-size:0.6rem;
    }
}


@media (width: 768px){
    .bonus-button{
        bottom: 51px;
        right: 93px;
    }
    .bonus-anchor{
        font-size: 0.8rem;
    }
    .terms-condition{
        left: 20px;
        bottom: 6px;
        font-size:0.6rem;
    }
}





